.etiqueta-1{
    color: green;
}

b{
    color: red;
}

.etiqueta-2{
    text-decoration: underline overline;
       
     
}

strong{
    font-size: 35px;
}

.etiqueta-3{
    color: blue;
}

.etiqueta-4{
    color: red;
}